/*==========================================
|   |   | Bootstrap Media Querries   |   |
==========================================*/

/* xl = Extra Large Devices (Desktops & Laptops)*/
@media (min-width: 1200px) {
    /*  Everything looks perfect  */
}

/* l = Large Devices (Laptops)*/
@media (min-width: 992px) and (max-width: 1199px) {

    /*  Projects 2  */
    #projects-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 394.97px;
    }

    .project-tab p {
        line-height: 20px;
    }
}


/* md = Medium Devices (Tablets)*/
@media (min-width: 768px) and (max-width: 991px) {

    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
        margin: 0;
    }

    .navbar-brand {
        padding: 10px 0 5px 0;
        margin: 0;
    }

    .site-nav-wrapper .container-fluid {
        padding: 0 40px 0 40px;
    }

    /* Home */
    #home-heading h1 {
        font-size: 31px;
    }

    #home-text p {
        font-size: 13px;
    }

    /* Geniric */
    .btn-general {
        padding: 8px 35px 8px 35px;
        font-size: 10px;
    }

    /* Geniric */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* Team Left */
    #team-left p {
        line-height: 20px;
    }

    .team-memebr-info {
        padding-top: 20px;
    }

    .team-memebr-info h6 {
        font-size: 15px;
    }

    .team-memebr-info p {
        font-size: 12px;
    }

    .team-memebr-info .social-list {
        padding-top: 0;
        margin: 0;
    }

    /* Statement */
    #statment h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* Project1 */
    .project:nth-child(2) .icon {
        margin-left: -10px;

    }

    .project:nth-child(3) .icon {
        margin-left: -15px;

    }

    /* Projects 02*/
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        color: #212226;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    /*  Tab active state  */
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #fac63d;
        font-weight: 700;
        padding-bottom: 5px;
        border-bottom: 3px solid #fac63d;
        transition: border-bottom 300ms linear;
        -webkit-transition: border-bottom 300ms linear;
        -moz-transition: border-bottom 300ms linear;
        -ms-transition: border-bottom 300ms linear;
        -o-transition: border-bottom 300ms linear;
    }

}

/* s = Small Devices (Tablets)*/
@media (min-width: 576px) and (max-width: 767px) {}

/* xs = Extra Small Devices (Tablets)*/
@media (max-width: 575px) {}
