/*==========================================
    Default Them
    ----------------------------------------
    Font: Raleway & Open Sans & Tajawal
    ----------------------------------------
    Colors:
        Sunglow:                #FAC63D
        Black Russian:          #212226
        White Smoke:            #F4F4F4
        White:                  #FFF
        Black:                  #000
                    
==========================================*/

/*==========================================
|   |   |   |   HTML, body   |   |   |   |               
==========================================*/

html,
body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/*==========================================
|   |   |   |   Preloader   |   |   |   |               
==========================================*/

#preloader {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#status {
  background-image: url('/img/preloader/index.curved-bar-spinner.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/*==========================================
|   |   |   |   Home   |   |   |   |               
==========================================*/
#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  /*This is when the video fall to play*/
  background: url(/video/solo.jpg) no-repeat;
  /*This is when the video fall to play*/
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

#home-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: #fff;
  font-weight: 100;
  margin: 0;
  display: inline-block;
}

#en-youth {
  color: #fac63d !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 40px !important;
  font-weight: 300 !important;
}

#home-heading h1 span {
  /* color: #FAC63D; */
  font-family: 'Tajawal', sans-serif;
  font-weight: 100;
  margin: 0;
}

#ar-youth {
  color: #fac63d;
  font-weight: 300 !important;
}

#home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  margin: 12px 0 30px 0;
}

/*==========================================
|   |   |   |   Buttons   |   |   |   |               
==========================================*/
.btn-general {
  font-family: 'Raleway', sans-serif;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 40px 12px 40px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
  color: #212226;
  background: #fac63d;
  border: 1px solid #fac63d;
}

/*==========================================
|   |   |   |   Arrow Down   |   |   |   |               
==========================================*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
  color: #fac63d;
}

/*==========================================
|   |   |   |   Content Boxes   |   |   |   |               
==========================================*/
.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

/*==========================================
|   |   |   |   Vertical Heading   |   |   |   |               
==========================================*/
.vertical-heading h5 {
  color: #fac63d;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -50px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

/*==========================================
|   |   |   |   About 01   |   |   |   |               
==========================================*/
#about-right p:first-child {
  margin-bottom: 30px;
}

#about-buttom {
  margin-top: 60px;
}

#about-buttom img {
  margin: 0 auto;
}

/*==========================================
|   |   |   |   About 01   |   |   |   |               
==========================================*/
#about-02 {
  background-color: #f4f4f4;
}

.about-item {
  background: #fff;
  padding: 80px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.about-item i {
  font-size: 42px;
  margin: 0;
}

.about-item h3 {
  font-size: 24px;
  margin: 10px;
}

.about-item hr {
  background-color: #fac63d;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 20px;
}

/* Hover changing */

.about-item:hover {
  background: #fac63d;
  cursor: pointer;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}

.about-item:hover hr {
  background-color: #fff;
}

.about-item:hover i {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

/*==========================================
|   |   |   |   Team   |   |   |   |               
==========================================*/
#team-left .vertical-heading {
  min-height: 160px;
}

.team-memeber {
  margin: 8px;
  position: relative;
}

.team-member-overlay {
  background-color: rgba(33, 34, 28, .9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
}

.team-memebr-info {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.team-memebr-info h6 {
  color: #fac63d;
  font-size: 16px;
  margin: 0;
}

.team-memebr-info p {
  color: #f4f4f4;
}

.team-memeber:hover .team-member-overlay {
  opacity: 1;
}

/*==========================================
|   |   |   |   Social Icons   |   |   |   |               
==========================================*/
ul.social-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998
}