/*==========================================
    Default Them
    ----------------------------------------
    Font: Raleway & Open Sans & Tajawal
    ----------------------------------------
    Colors:
        Sunglow:                #FAC63D
        Black Russian:          #212226
        White Smoke:            #F4F4F4
        White:                  #FFF
        Black:                  #000
                    
==========================================*/

/*==========================================
|   |   |   |   HTML, body   |   |   |   |               
==========================================*/

html,
body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/*==========================================
|   |   |   |   Preloader   |   |   |   |               
==========================================*/

#preloader {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#status {
  background-image: url('/img/preloader/index.curved-bar-spinner.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/*==========================================
|   |   |   |   Home   |   |   |   |               
==========================================*/
#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  /*This is when the video fall to play*/
  background: url(/video/solo.jpg) no-repeat;
  /*This is when the video fall to play*/
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

#home-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: #fff;
  font-weight: 100;
  margin: 0;
  display: inline-block;
}

#en-youth {
  color: #fac63d !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 40px !important;
  font-weight: 300 !important;
}

#home-heading h1 span {
  /* color: #FAC63D; */
  font-family: 'Tajawal', sans-serif;
  font-weight: 100;
  margin: 0;
}

#ar-youth {
  color: #fac63d;
  font-weight: 300 !important;
}

#home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  margin: 12px 0 30px 0;
}

/*==========================================
|   |   |   |   Buttons   |   |   |   |               
==========================================*/
.btn-general {
  font-family: 'Raleway', sans-serif;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 40px 12px 40px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
  color: #212226;
  background: #fac63d;
  border: 1px solid #fac63d;
}

.btn-yellow {
  color: #fff;
  border: 1px solid #fac63d;
  background-color: #fac63d;
}

.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
  background: #212226;
  border: 1px solid #212226;
}

.btn-white {
  color: #212226;
  border: 1px solid #fff;
  background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  color: #fff;
  background: #212226;
  border: 1px solid #212226;
}

/*==========================================
|   |   |   |   Arrow Down   |   |   |   |               
==========================================*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
  color: #fac63d;
}

/*==========================================
|   |   |   |   Content Boxes   |   |   |   |               
==========================================*/
.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

/*==========================================
|   |   |   |   Vertical/horizontal Heading   |   |   |   |               
==========================================*/
.vertical-heading h5 {
  color: #fac63d;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -50px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
}

.vertical-heading h2,
.horizontal-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

.horizontal-heading {
  margin-bottom: 80px;
}

.horizontal-heading h5 {
  font-size: 16px;
  color: #fac63d;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.horizontal-heading h2 {
  margin: 0;
}

/*==========================================
|   |   |   |   About 01   |   |   |   |               
==========================================*/
#about-right p:first-child {
  margin-bottom: 30px;
}

#about-buttom {
  margin-top: 60px;
}

#about-buttom img {
  margin: 0 auto;
}

/*==========================================
|   |   |   |   About 01   |   |   |   |               
==========================================*/
#about-02 {
  background-color: #f4f4f4;
}

.about-item {
  background: #fff;
  padding: 80px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.about-item i {
  font-size: 42px;
  margin: 0;
}

.about-item h3 {
  font-size: 24px;
  margin: 10px;
}

.about-item hr {
  background-color: #fac63d;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 20px;
}

/* Hover changing */

.about-item:hover {
  background: #fac63d;
  cursor: pointer;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}

.about-item:hover hr {
  background-color: #fff;
}

.about-item:hover i {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

/*==========================================
|   |   |   |   Team   |   |   |   |               
==========================================*/
#team-left .vertical-heading {
  min-height: 160px;
}

.team-memeber {
  margin: 8px;
  position: relative;
}

.team-member-overlay {
  background-color: rgba(33, 34, 28, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
}

.team-memebr-info {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.team-memebr-info h6 {
  color: #fac63d;
  font-size: 16px;
  margin: 0;
}

.team-memebr-info p {
  color: #f4f4f4;
}

.team-memeber:hover .team-member-overlay {
  opacity: 1;
}

/*==========================================
|   |   |   |   Social Icons   |   |   |   |               
==========================================*/
ul.social-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background: #1ea2f3;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background: #0077b5;
  border-color: transparent;
}

/*==========================================
|   |   |   |   Slider Buttons   |   |   |   |               
==========================================*/
.owl-theme .owl-nav [class*='owl-'] {
  color: #212226;
  font-size: 32px !important;
  background: none;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #fac63d;
  background: none;
}

.owl-theme .owl-nav [class*='owl-']:focus {
  outline: none;
}

/*==========================================
|   |   |   |   Progress Bars   |   |   |   |               
==========================================*/
.skill {
  margin-bottom: 20px;
}

.skill h4 {
  line-height: 62px;
  margin: 0;
  font-weight: normal;
}

.progress {
  height: 25px;
  color: #fac63d;
  background: #efefef;
  border-radius: 0;
  overflow: visible;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.progress-bar {
  background-color: #fac63d;
  position: relative;
}

.progress-bar span {
  font-size: 11px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  background: #212226;
  margin: 0;
  padding: 3px;
  position: absolute;
  left: 97%;
  top: -35px;
}

.progress-bar span::before {
  content: '';
  border-top: 8px solid #212226;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -6px;
  left: 23%;
}

/*==========================================
|   |   |   |   Statment   |   |   |   |
==========================================*/
#statment {
  background: url('../img/tech/tech-quote.jpg') no-repeat fixed center;
  background-size: cover;
}

#statment .content-box-lg {
  background: rgba(0, 0, 0, 0.3);
}

#tech-statment h3 {
  color: #fff;
  font-size: 28px;
  line-height: 45px;
}

#tech-statment p {
  color: #fac63d;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin-top: 8px;
}

/*==========================================
|   |   |   |   Projects 01  |   |   |   |
==========================================*/
#projects-01 img {
  margin: 60px 0;
}

.project {
  margin: 35px 0;
}

.project:hover {
  cursor: pointer;
}

.project .icon {
  font-size: 42px;
  margin: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.project:hover .icon {
  color: #fac63d;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

.project h5 {
  font-size: 12px;
  color: #fac63d;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}

.project:hover h5 {
  color: #212226;
}

.project h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.project p {
  line-height: normal;
}

/*==========================================
|   |   Projects 02 (Responsive Tabs)  |   
==========================================*/
#projects-02 {
  background: #f4f4f4;
}

#projects-tabs ul {
  margin-bottom: 40px;
}

#projects-tabs ul li {
  color: #fac63d;
  padding: 5px 30px;
}

#projects-tabs ul li a {
  color: #212226;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
}

#projects-tabs ul li.r-tabs-state-active a {
  color: #fac63d;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid #fac63d;
  transition: border-bottom 300ms linear;
  -webkit-transition: border-bottom 300ms linear;
  -moz-transition: border-bottom 300ms linear;
  -ms-transition: border-bottom 300ms linear;
  -o-transition: border-bottom 300ms linear;
}

.project-tab .col-md-6 {
  padding: 0;
}

.project-tab img {
  width: 100%;
  margin: 0 auto;
}

.project-tab .tab-bg {
  background: #fff;
  padding: 59px 30px;
  min-height: 470px;
}

.project-tab h2 {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}

.project-tab h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

.project-tab p {
  line-height: 24px;
  margin-bottom: 30px;
}

/*==========================================
|   |   |   |  Portfolio  |   |   |   |
==========================================*/
#portfolio .vertical-heading {
  margin-bottom: 50px;
}

/* #portfolio-wraper .col-md-3 {
  padding: 0;
} */

.row.no-gutters [class*='col-'] {
  padding: 0;
}

#portfolio-wraper .container-fluid {
  padding: 0;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

/* Filter button */
#isotope-filters {
  margin-bottom: 10px;
  padding: 20px 25px 20px 0;
}

#isotope-filters button {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  box-shadow: none;
  padding-right: 30px;
  outline: 0;
}

#isotope-filters button span {
  display: block;
  padding-bottom: 5px;
}

#isotope-filters button.active span {
  color: #fac63d;
  border-bottom: 3px solid #fac63d;
  transition: border-bottom 300ms linear;
  -webkit-transition: border-bottom 300ms linear;
  -moz-transition: border-bottom 300ms linear;
  -ms-transition: border-bottom 300ms linear;
  -o-transition: border-bottom 300ms linear;
}

/* Zoom effect */
.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*==========================================
|   |   |   |  Overlay effect |   |   |   |
==========================================*/
#portfolio {
  padding-bottom: 160px;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  cursor: zoom-in;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

/* Item details text */
.portfolio-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.portfolio-item-details h3 {
  color: #fac63d;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 0;
  transform: translateY(-20%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.portfolio-item-details span {
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 6px;
  width: 30px;
  margin: 11px auto 5px auto;
}

.portfolio-item-details p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  transform: translateY(20%);
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* Hover the overlay */
.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
  transition: all 0.5 linear;
  -webkit-transition: all 0.5 linear;
  -moz-transition: all 0.5 linear;
  -ms-transition: all 0.5 linear;
  -o-transition: all 0.5 linear;
}

.portfolio-item:hover .portfolio-item-details h3 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

#testimonials {
  background: #f4f4f4;
  padding-bottom: 45px;
  overflow: visible;
  /* padding-top: 50px; */
}

#testimonials .vertical-heading {
  padding: 80px 0;
  margin-bottom: 50px;
}

#testimonial-slider {
  background: #fac63d;
  top: -120px;
}

.testimonial .row {
  margin-bottom: 25px;
}

.testimonial {
  padding: 20px 45px 0 45px;
  color: #fff;
}

.testimonial h3 {
  font-size: 32px;
  line-height: 35px;
}

.testimonial .stars {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.testimonial p {
  line-height: normal;
  margin: 0;
  margin: 5px 0 20px 0;
}

.author .author-name-des {
  width: 180px;
  margin-top: 25px;
  text-align: left;
}

.author .author-name-des p {
  margin: 0;
}

.testimonial .owl-theme .owl-nav [class*='owl-']:hover {
  color: #212226 !important;
}

/*==========================================
|   |   |   |  Pricing |   |   |   |
==========================================*/
.pricing-table {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 32px 21px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.pricing-table:hover {
  background: #fac63d;
}

.pricing-table .type h4 {
  color: #fac63d;
  font-size: 24px;
  margin-bottom: 25px;
}

.pricing-table .price {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 24px 0;
}

.pricing-table .price h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 100;
  margin: 0 0 0 24px;
  position: relative;
}

.pricing-table .price h2 span {
  font-family: 'Raleway', sans-serif;
}

.pricing-table .price h2 span.dollar {
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  left: -20px;
  top: 5px;
}

.pricing-table .price h2 span.month {
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 5px;
  bottom: -12px;
}

.pricing-table .price p {
  line-height: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.pricing-table ul.package {
  list-style: none;
  padding: 20px 0;
}

.pricing-table ul.package li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
}

.pricing-table ul.package li i::before {
  margin-right: 15px;
}

.pricing-table .btn-yellow,
.pricing-table.black .btn-white
{
  width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package
{
  color: #fff;
}

.pricing-table:hover .btn-yellow{
    background: #fff;
    border-color: #fff;
    color: #212226;
}

.pricing-table .btn-yellow:hover{
    background: #212226;
    border-color: #212226;
    color: #fff;
}

/*Black Prining table*/
.pricing-table.black{
   background: #212226;
    color: #fff;
    
}

.pricing-table.black .type h4{
   color: #fff;
}

.pricing-table.black:hover {
  background: #fac63d;
}































